<h2 id="head">Hotel Management System</h2>
<div class="row" id="main">
  <div class="column" id="basic">
    <label for="">Customer Name</label><br><br>
    <input type="text"><br><br>
    <label for="">Room No:</label><br><br>
    <input type="text"><br><br>
    <label for="">Aadhaar NO:</label><br><br>
    <input type="text"><br><br>
    <div class="container">
      <button class="btn btn-danger">Insert</button><button>Update</button><button>Delete</button><button>Find</button><button>Find All</button>
      </div>
  </div>
  <div class="column" id="basic">
 
      <h3>Customer details</h3>
    
  
     <div id="data">
    <p> Kavin  - 206 - 216042287014</p>
    <p> Azeesh - 207 - 873902312971</p>
    <p> Bharath - 209 - 271404986398</p>
  </div>
  </div>
</div>

 <br><br>
<div class="rightcontainer">
 
</div>



